<h1>All Links</h1>

<section class="form">
  <%= form_for @link, url: '/links' do |f| %>

    Url: <%= f.url_field :url %>
    Title: <%= f.text_field :title %>
    <%= f.submit "Submit", class:"button" %>

  <% end %>
</section>

<form id='filter'>
  <label>Filter:</label>
  <input name="search-box" class='search-box'></input>
  <button class='search-submit'>Search</button>
</form>

<button class="show-all-read">Show all read</button>
<button class="show-all-unread">Show all unread</button>
<button class="show-all">Show all</button>

<section class="links">
  <% @links.each do |link| %>
    <div class="link link-<%=  link.read  %>" id= <%=link.id %> >
      <% if link.popularity == 'top_link' %>
        <h4 class='top-link'>Top Link!</h4>
      <% elsif link.popularity == 'hot_read' %>
        <h4 class='hot-read'>Hot Read!</h4>
      <% end %>
      <h2><%= link.title %></h2>
      <a href= <%= link.url %> class="link-url"><span class="hide"><%= link.url %></span>Link</a>
      <p class="read-status">read: <%= link.read %></p>
      <% if !link.read %>
        <button class="mark-as-read">Mark as read</button>
      <% elsif link.read %>
        <button class="mark-as-unread">Mark as unread</button>
      <% end %>
      <%= link_to 'Edit', edit_link_path(link), class:'link-edit' %>
    </div>
  <% end %>
</section>
