<h1>All Links</h1>

<%= form_for @link, url: '/links' do |f| %>

  Url: <%= f.url_field :url %>
  Title: <%= f.text_field :title %>
  <%= f.submit "Submit" %>

<% end %>

<% @links.each do |link| %>
  <div class="link">
    <h2><%= link.title %></h2>
    <p><%= link.url %></p>
    <% if link.read %>
      <button>Mark as Unread</button>
    <% elsif !link.read %>
      <button>Mark as read</button>
    <% end %>
  </div>
<% end %>
