<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <section class="navbar">
  <% if current_user %>
    <%= link_to "Sign Out", '/signout', method: 'delete' %>
  <% end %>
</section>

<section class="flash">
  <% if flash.keys %>
    <% flash.keys.each do |key| %>
      <p><%= flash[key] %></p>
    <% end %>
  <% end %>
</section>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
